PORT=5000
MONGODB_URI=mongodb://localhost:27017/college-bus-tracking
JWT_SECRET=supersecretjwtkeyforcollegebustrackingv1
NODE_ENV=development
MAX_TRIP_DURATION_HOURS=4
AUTO_EXPIRE_INACTIVE_MINUTES=20
